@import '../abstracts/variables';
@import '../abstracts/utilities';
@import '../abstracts/mixins';

.card {
  @include flex-row(center, stretch, nowrap);

  @include respond(sm) {
    flex-direction: column;
  }

  &__image {
    display: block;
    width: 100%;
    flex: 1 1 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;

      @include respond(sm) {
        border-top-right-radius: 1rem;
      }
    }
  }

  &__content {
    @include flex-column;
    gap: $space-300;
    padding-block: 3rem;
    padding-inline: 4rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: $white;
    box-shadow: $box-shadow-card;

    @include respond(sm) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__title {
    @include text-heading;
    color: $color-text-primary;
  }

  &__description {
    @include text-body;
    color: $color-text-secondary;
  }

  &__footer {
    @include space-between-center;
    width: 100%;

    @include respond(sm) {
      display: none;
    }
  }
}
