@import '../abstracts/variables';
@import '../abstracts/utilities';
@import '../abstracts/mixins';

.share-button {
  height: $space-400;
  width: $space-400;
  border-radius: 50%;
  background-color: $color-bg;
  color: $color-text-secondary;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, fill 0.3s ease;

  svg {
    width: 100%;
  }

  &:hover {
    background-color: $color-text-secondary;
    color: $white;
  }
}
