html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #ecf2f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

p {
  margin: 0;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
p {
  margin: 0;
}

li {
  list-style-type: none;
}

/* GLOBAL STYLES */
body {
  background-color: #ecf2f8;
  font-size: 1.3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  border: 0;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 73rem;
  margin-block: 26rem;
  margin-inline: auto;
}
@media (max-width: 1024px) {
  .wrapper {
    max-width: 64rem;
    margin-block: 16rem;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 75%;
  }
}
@media (max-width: 600px) {
  .wrapper {
    width: 85%;
  }
}

.share-toast {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.share-toast--visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.profile__img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1.6rem;
}
.profile__meta {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-block: 0.2rem;
}
.profile__name {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #48556a;
  font-weight: 700;
}
.profile__date {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #6e8098;
}

.share-toast {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.share-toast--visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.share-button {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  background-color: #ecf2f8;
  color: #6e8098;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, fill 0.3s ease;
}
.share-button svg {
  width: 100%;
}
.share-button:hover {
  background-color: #6e8098;
  color: #fff;
}

.share-toast {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.share-toast--visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.share-wrapper {
  position: relative;
}
.share-wrapper.desktop {
  display: block;
}
@media (max-width: 600px) {
  .share-wrapper.desktop .share-toast {
    display: none;
  }
}
.share-wrapper.mobile {
  display: none;
}
@media (max-width: 600px) {
  .share-wrapper.mobile {
    display: block;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .share-wrapper.mobile .share-social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
    gap: 2.4rem;
  }
}
.share-wrapper .share-toast {
  position: absolute;
  bottom: 5.6rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: #48556a;
  width: 24.8rem;
  padding-block: 1.8rem;
  padding-inline: 3.8rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
@media (max-width: 600px) {
  .share-wrapper .share-toast {
    position: relative;
    width: 100%;
    bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.share-wrapper .share-toast__label {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #9daec2;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.share-wrapper .share-toast__icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  padding-left: 0;
}
.share-wrapper .share-toast::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-top: 0.8rem solid #6e8098;
}
@media (max-width: 600px) {
  .share-wrapper .share-toast::after {
    display: none;
  }
}

.share-toast {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.share-toast--visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}
@media (max-width: 600px) {
  .card {
    flex-direction: column;
  }
}
.card__image {
  display: block;
  width: 100%;
  flex: 1 1 auto;
}
.card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.card__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  padding-block: 3rem;
  padding-inline: 4rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #fff;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
}
@media (max-width: 600px) {
  .card__content {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.card__title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: 0.25px;
  color: #48556a;
}
.card__description {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.4;
  letter-spacing: 0.25px;
  color: #6e8098;
}
.card__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}/*# sourceMappingURL=main.css.map */